<div class="row">
  <div class="col-11 offset-1">
    <h3 class="offset-3 mini-title">マイページ</h3>

    <div class="row">
      <h2>登録情報</h2>
      
    </div>
    <table class="table table-bordered col-9">
      <tbody>
        <tr>
          <td class="col-4 table-active">氏名</td>
          <td><%= current_customer.last_name %>　<%= current_customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-active">カナ</td>
          <td><%= current_customer.last_name_kana %>　<%= current_customer.first_name_kana %></td>
        <tr>
          <td class="table-active">郵便番号</td>
          <td><%= current_customer.postal_code %></td>
        </tr>        
        <tr>
          <td class="table-active">住所</td>
          <td><%= current_customer.address %></td>
        </tr>        <tr>
          <td class="table-active">電話番号</td>
          <td><%= current_customer.telephone_number %></td>
        </tr>        <tr>
          <td class="table-active">メールアドレス</td>
          <td><%= current_customer.email %></td>
        </tr>
      </tbody>
    </table>
    
    
  </div>
</div>