<h3 class="mini-title">商品新規登録</h3>

<%= form_with model: @item do |f| %>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.text_field :name, placeholder: "ショップ名" %>
  <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
  <%= f.select :genre_id, [["ケーキ",1],["プリン",2],["焼き菓子",3],["キャンディ",4]] %>
  <%= f.text_field :price, placeholder: "1000" %>円
  <%= f.radio_button :is_active, 
<% end %>