  <div class="row justify-content-center">
    <h2>『<%= @content %>』　検索結果</h2>
  </div>
  <% if @records.exists? %>
    <div class="row mt-3">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center flex-wrap m-2">
          <% @records.each do |item| %>
            <%= link_to item_path(item) do %>
              <div class="mx-3">
                <%= image_tag item.image, size: "150x150", class: "text-decoration-none" %>
                <p class="mt-2 text-center" style="color: black;"><%= item.name %></p>
                <p class="text-center">￥<%= item.price.to_s(:delimited) %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div>
        <%= paginate @records %>
      </div>
    </div>
  <% else %>
    <div class="text-center h2">一致する検索結果がありません</div>
  <% end %>