<div class="px-5 mx-5">
  <div class="mx-"><h3 class="mb-5 mini-title">会員一覧</h3></div>
  <div class="row mx-5 px-5">

    <table class="table border-bottom table-hover table-background">
      <thead class="thead-light">
        <tr>
          <th style="width: 10%">会員ID</th>
          <th style="width: 30%">氏名</th>
          <th style="width: 30%">メールアドレス</th>
          <th style="width: 30%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr onclick='window.location="<%= '/admin/customers/' + customer.id.to_s %>"' role="link">
            <td class="py-4" style="width: 10%">
              <%= customer.id %>
            </td>
            <td class="py-4" style="width: 30%">
              <u><%= link_to customer.last_name+customer.first_name, admin_customer_path(customer), class:"text-dark" %></u>
            </td>
            <td class="py-4" style="width: 30%">
              <%= customer.email %>
            </td>
            <td class="py-4" style="width: 30%">
              <% if customer.active_for_authentication? %>
                <b class="text-success">有効</b>
              <% else %>
                <b class="text-muted">退会</b>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @customers %>