<div class="p-5">
  <h3 class="ml-5 mini-title"><%= @customer.last_name+@customer.first_name %>さんの注文履歴</h3>
</div>

<div class="px-5">
  <div class="row mx-5">
    <table class="table mx-5 table border-bottom">
      <thead class="thead-light">
        <tr>
          <th style="width: 10%"></th>
          <th style="width: 40%">購入日時</th>
          <th style="width: 20%">注文個数</th>
          <th style="width: 30%">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td style="width: 10%"></td>
            <td class="py-4" style="width: 40%">
              <u><%= link_to order.created_at.strftime('%Y/%m/%d　%H:%M:%S'), admin_order_path(order.id), class:"text-dark" %></u>
            </td>
            <td  class="py-4" style="width: 20%">
              <%= order.order_details.inject(0) { |sum, order_detail| sum + order_detail.amount } %>
            </td>
            <td  class="py-4" style="width: 30%">
              <%= order.status_i18n %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @orders %>