<div class="row">
  <div class="col-4 offset-1">
    <h3 class="mx-5 mini-title">注文履歴詳細</h3>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>購入者</th>
          <td><%= link_to @order.name, admin_customer_path(@customer) %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <p><%= "〒#{@order.postal_code} #{@order.address}" %><br>
              <%= @order.name %>
            </p>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
              <%= f.select :status, Order.statuses.keys.map { |k| [t("enums.order.status.#{k}"), k] } %>
              <%= f.submit '更新', class: "btn btn-success ml-4" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
<div class="row">
  <div class="col-8 offset-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-active">商品</th>
          <th class="table-active">単価（税込）</th>
          <th class="table-active">数量</th>
          <th class="table-active">小計</th>
          <th class="table-active">製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.all.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price).to_s(:delimited) %></td>
            <td><%= order_detail.amount %>　個</td>
            <td><%= (order_detail.item.price*order_detail.amount).to_s(:delimited) %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |k| [t("enums.order_detail.making_status.#{k}"), k] } %>
                <%= f.submit '更新', class: "btn btn-success ml-2" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-2 d-flex align-items-end ml-3">
    <table class="table table-borderless">
      <tr>
        <th>商品合計</td>
        <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>送料</td>
        <td><%= @order.shipping_cost.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>請求金額</th>
        <th><%= @order.total_payment.to_s(:delimited) %>円</td>
      </tr>
    </table>
  </div>
</div>