  <div class="row justify-content-center">
    <h2>『<%= @content %>』検索結果</h2>
  </div>
    <% if @records.exists? %>
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-around flex-wrap mb-5">
            <% @records.each do |item| %>
              <%= link_to item_path(item) do %>
                <%= image_tag item.image, size: "200x200", class: "text-decoration-none" %>
                <p class="mt-2 text-center" style="color: #C5956B;"><%= item.name %></p>
                <p class="text-center">￥<%= item.price.to_s(:delimited) %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="text-center h2">一致する検索結果がありません</div>
    <% end %>