<h3 class="mb-5 mini-item">ジャンル一覧・追加</h3>

<%= form_with model:@genre, url: "/admin/genres", method: :post do |f| %>
  <div class="field form-group row">
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name, placeholder: "ジャンル名" %>
  </div>
  <div class="actions form-group row">
    <%= f.submit "新規登録", class:"btn btn-success" %>
  </div>
<% end %>

<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>