<table class="table table-bordered">
  <thead　class="thead-dark">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td>
        <%= link_to '編集する', edit_address_path(address), class: "btn btn-success" %>
        <%= link_to '削除する', address_path(address), method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  </tbody>
</table>