<h3 class="mt-3 mb-5 offset-2 mini-title">注文履歴一覧</h3>
<div class="col-12">
  <table class="table table-bordered">
    <thead　class="thead-light">
      <tr>
        <th class="col-1">注文日</th>
        <th class="col-5">配送先</th>
        <th class="col-2">注文商品</th>
        <th class="col-1">支払金額</th>
        <th class="col-2">ステータス</th>
        <th class="col-2">注文詳細</th>
      </tr>
    </thead>
    <% if @orders.present? %>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= "〒 #{order.postal_code}" %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <% order.items.each do |item| %>
                <%= item.name %><br>
              <% end %>
            </td>
            <td><%= order.total_payment.to_s(:delimited) %>円</td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to '表示する', order_path(order), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% else %>
        <td>ありません</td>
      <% end %>
    </tbody>
  </table>
</div>