<div class="row pl-5">
  <h3 class="mb-5 mt-5 mini-title">注文情報入力</h3>
</div>

<div>
  <%= form_with model:@order, url: order_confirm_path(@order), method: :post do |f| %>
    <div class="field form-group">
      <%= f.label :支払い方法 %>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
    </div>
    <div class="field form-group">
      
    </div>
  <% end %>
</div>