<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mb-5 mini-title">ログイン</h3>
    
    <div class="mini-title offset-1">
      <h4>会員の方はこちらからログイン</h4>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form_group row">
        <%= f.label :メールアドレス, class: "col-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "col-9" %>
      </div>
      <div class="form_group row">
        <%= f.label :パスワード, class: "col-3" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-9" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions form-group row">
        <%= f.submit "ログイン", class: "btn btn-primary col-3 offset-3" %>
        <div class="col-6"></div>
      </div>
    <% end %>

    <%= render "public/shared/links" %>
    <div>
    <h4 class="mini-title offset-1">会員登録がお済みでない方</h4>
  </div>
  <div class="offset-2">
    <p><%= render "public/shared/links" %> から新規登録を行ってください</p>
  </div>  
</div>