<div class="row">
  <div class="col-2 offset-1 my-5 mr-3">
    <%= render 'genre_search', genres: @genres %>
  </div>
  <div class="col-8">
    <div class="row">
      <h3 class="text-center col-4 my-3 ml-3 mini-title">商品一覧</h3>
      <div class="my-3 d-flex align-items-end"><span>（全<%= @items.count %>件）</span></div>
    </div>
    <div class="row mx-auto">
      <% @items.each do |item| %>
        <div class="col-3 my-3 mr-1 pt-3 border table-background text-center">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, size: "200" %>
            <p class="card-title text-dark"><%= item.name %></p>
            <% end %>
          <p>￥<%= item.price.to_s(:delimited) %></p>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <div>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
