<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-light" href="/"><span>NAGANO CAKE</span></a>
      　<div class="mx-auto">ようこそ、<%= current_customer.last_name %>さん！</div>
        <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to "マイページ", "#", class: 'btn btn-outline-dark' %>
            </li>
            <li>
              <%= link_to "商品一覧", "#", class: 'btn btn-outline-dark' %>
            </li>
            <li>
              <%= link_to "カート", "#", class: 'btn btn-outline-dark' %>
            </li>
            <li>
              <%= button_to "ログアウト", "#", method: :delete, class: 'btn btn-outline-dark' %>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="text-right">
      <input type="text" size="25" placeholder="Search">
    </div>
  </nav>
</header>